html, body, #root, .App {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.Div1 {
  display: flex;
  flex: 1;
}

.Div2 {
  display: flex;
  flex: 1;
}

.Div_1 {
  flex: 1;
  background: rosybrown;
}

.Div_2 {
  flex: 1;
  background: rgb(210, 178, 233);
}

.Div_3 {
  flex: 1;
  background: rgb(198, 187, 133);
}

.Div_4 {
  flex: 1;
  background: rgb(159, 216, 200);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
